<h2>Trips</h2>

<ul class="trip">
  <li>
    <ul class="trip-line">
      <li>Trip ID</li>
      <li>Passenger Name</li>
      <li>Driver Name</li>
      <li>Date</li>
      <li>Rating</li>
      <li>Cost:</li>
    </ul>
  </li>
  <% @trips.each do |trip| %>
  <li>
    <ul class="trip-line">
      <li>
        <%= link_to trip.id, trip_path(trip) %>
      </li>
      <li>
        <%= link_to trip.passenger.name, passenger_path(trip.passenger) %>
      </li>
      <li>
        <%= link_to trip.driver.name, driver_path(trip.driver) %>
      </li>
      <li>
        <%= trip.date %>
      </li>
      <li>
        <% trip_name = trip.rating.nil? ? "add rating" : trip.rating %>
        <%= link_to trip_name, edit_trip_path(trip) %>
      </li>
      <li>
        <%=trip.convert_to_currency(trip.cost) %>
      </li>
      <li>
        <%= link_to "Edit", edit_trip_path(trip) %>
      </li>
      <li>
        <%= link_to("Delete", trip_path(trip), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" }) %>
      </li>
    </ul>


  </li>
  <% end %>
</ul>
