<h4>
  <% page_title ||= "Passenger Information" %>
  <%= page_title %>
</h4>



<%= form_for @passenger do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>
</div>

<div>
  <%= f.submit %>
</div>
<% end %>

<div>
<%= link_to "List of Passengers", passengers_path %>
</div>
