
<header>
</header>
<section>
  <h2>Passenger Details</h2>
  <h3><%= @passenger.name %></h3>
  <p><%= @passenger.phone_num %></p>
  <li>
    <%= link_to "Edit", edit_passenger_path(@passenger) %>
    <%= link_to("Delete", passenger_path(@passenger), method: :delete, data: { confirm: "Are you sure you want to delete this passenger?" }) %>
    <%= link_to "List of Passengers", passengers_path %>
  </li>
</section>

<section>
<h3> List of Trips </h3>
  <% @passenger.trips.each do |trip| %>

  <li><strong>Trip Id</strong>
    <%= trip.id %>
  </li>
  <li> Date:
    <%= trip.date %>
  </li>
  <li> Rating:
    <%= trip.rating %>
  </li>
  <li> Cost:
    <%= trip.cost %>
  </li>
    <li>View Trip <%= link_to trip.id, trip_path(trip) %></li>
</p>
  <% end %>
</section>

<section>
  <h3> This passenger was charged <%= @passenger.passenger_total %></h3>
</section>


<section>
  <h3> <%= link_to 'Add a new trip for the passenger', passenger_trips_path(@passenger.id), method: :post %> </h3>
</section>


<footer>
</footer>
