<h2>Drivers</h2>

<%= form_tag(drivers_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Drivers" %>
<%= submit_tag "Search" %>
<% end %>

<section class = "add-link">
<%= link_to "Add a New Driver", new_driver_path%>
</section>
<% if !(@drivers.present?) %>
  <p>There are no drivers containing the term(s) <%= params[:search] %>.</p>
<% end %>

<ul>

  <% @drivers.each do |driver| %>
  <section class = "driver-box"
  <aside class = "driver-header">
  <li>
    <%= driver.id %>
    <strong>
    <%= link_to driver.name, driver_path(driver) %>
    </strong>
  </li>
</aside>
   <li>
    <%= driver.vin %>
    </li>
    <aside class = "driver-footer">
    <li>
    <%= link_to "Edit", edit_driver_path(driver) %>
    <%= link_to("Delete", driver_path(driver), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" }) %>
  </li>
</aside>
</section>
  <% end %>

</ul>
<!--
<p>
  id:
  name:
  vin:
</p>
<% @drivers.each_with_index do |driver, index| %>
  <p>
    <%= driver.id %>.
    <%= link_to driver.name, driver_path(driver) %>
    <%= driver.vin %>
    <%= link_to 'Edit', edit_driver_path(driver) %> |
    <%= link_to 'Delete', driver_path(driver.id), method: :delete, data: { confirm: "Are you sure you want to delete Driver #{ driver.name }?" } %>
  </p>
<% end %> -->
