<p>
  id:
  name:
  vin:
</p>
<% @drivers.each_with_index do |driver, index| %>
  <p>
    <%= driver.id %>.
    <%= driver.name %>
    <%= driver.vin %>
    <%= link_to 'Edit', edit_driver_path(driver) %> |
    <%= link_to 'Delete', driver_path(driver.id), method: :delete, data: { confirm: "Are you sure you want to delete Driver #{ driver.name }?" } %>
  </p>
<% end %>
