<p>
  Driver ID: <%= @driver.id %>
</p>
<p>
  Driver name: <%= @driver.name %>
</p>
<p>
  Driver VIN: <%= @driver.vin %>
</p>
<p>
  Total Driver Earnings: <%= @driver.total_earnings %>
</p>
<p>
  Driver's Average Rating: <%= @driver.average_rating %>
</p>
<p>
  Driver's Trips:
  <ul>
    <% @driver.trips.each do |trip| %>
      <li>
        <%= trip.id %>.
        <%= trip.date %>
        <%= trip.passenger.name %>
        <%= trip.rating %>
        <%= trip.cost %>
      </li>
    <% end %>
  </ul>
</p>
